@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-800;
}

button {
  @apply px-4 py-2 rounded-md font-medium transition;
}
/* Thêm cái này vào tệp index.css của bạn */

/* Ẩn mũi tên lên/xuống của input số lượng tùy chỉnh */
.quantity-input::-webkit-inner-spin-button, 
.quantity-input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Ẩn mũi tên cho Firefox */
.quantity-input {
  -moz-appearance: textfield;
}